In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/david/Documents/0_kul/1_ma_stds_1/1_advanced_analytics/assignment_2/data/pizza/recipe_without_empty.csv')

In [3]:
df.columns

Index(['photo_id', 'url', 'may_be', 'likes', 'timestamp', 'scraped_at', 'diff',
       'tag_healthy', 'tag_tasty', 'tag_dinner',
       ...
       'tag_egg', 'tag_oatmeal', 'tag_natural', 'tag_beef', 'tag_noodles',
       'tag_italian', 'tag_drinks', 'tag_steak', 'tag_sandwich',
       'tag_strawberry'],
      dtype='object', length=104)

In [4]:
keep = ['tag_pizza','tag_chicken','tag_coffee','tag_salad']
keep_2 = ['photo_id', 'url', 'may_be', 'likes', 'timestamp', 'scraped_at', 'diff','tag_pizza','tag_chicken','tag_coffee','tag_salad']

In [5]:
df_recipe = df[keep_2]
df = df_recipe[(df_recipe.iloc[:,7:11].T != 0).any()] # keep only relevant pictures
df.head(10)

,photo_id,url,may_be,likes,timestamp,scraped_at,diff,tag_pizza,tag_chicken,tag_coffee,tag_salad
7,CMPD1lBJbbq,https://www.instagram.com/p/CMPD1lBJbbq/,food,2,2021-03-10T10:44:20,2021-03-10T11:49:34,1.09,0,0,0,1
18,CMPDgGEFXA5,https://www.instagram.com/p/CMPDgGEFXA5/,indoor,7,2021-03-10T10:41:24,2021-03-10T11:50:30,1.15,0,0,0,1
24,CMPDYtDhqVV,https://www.instagram.com/p/CMPDYtDhqVV/,dessert,22,2021-03-10T10:44:58,2021-03-10T11:50:58,1.10,1,0,0,0
36,CMPCmZdHCcY,https://www.instagram.com/p/CMPCmZdHCcY/,chow mein and indoor,2,2021-03-10T10:33:32,2021-03-10T11:52:49,1.32,0,1,0,0
42,CMPCOauKjrK,https://www.instagram.com/p/CMPCOauKjrK/,food and indoor,3,2021-03-10T10:30:45,2021-03-10T11:53:28,1.38,0,1,0,0
56,CMPBmMfh2pF,https://www.instagram.com/p/CMPBmMfh2pF/,sky and monument,6,2021-03-10T10:24:46,2021-03-10T11:55:57,1.52,0,0,1,0
59,CMPBhill_rI,https://www.instagram.com/p/CMPBhill_rI/,food and indoor,85,2021-03-10T10:24:07,2021-03-10T11:56:11,1.53,0,0,0,1
60,CMPBfV7BYVV,https://www.instagram.com/p/CMPBfV7BYVV/,outdoors,3,2021-03-10T10:23:49,2021-03-10T11:56:19,1.54,0,0,1,0
63,CMPBbxIhvHf,https://www.instagram.com/p/CMPBbxIhvHf/,sky and the Arno River,12,2021-03-10T10:23:20,2021-03-10T11:56:32,1.55,0,0,1,0
65,CMPBSqoFsEo,https://www.instagram.com/p/CMPBSqoFsEo/,dessert and indoor,8,2021-03-10T10:35:22,2021-03-10T11:56:44,1.36,0,0,0,1

In [6]:
y = df[keep]
y.head(5)

    tag_pizza  tag_chicken  tag_coffee  tag_salad
7           0            0           0          1
18          0            0           0          1
24          1            0           0          0
36          0            1           0          0
42          0            1           0          0

In [17]:
y.iloc[0].sum()
list = []

In [18]:
for i in range(0,200):
    result = y.iloc[i].sum()
    list.append(result)

In [19]:
print(list)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [9]:
y.shape
df.shape

(874, 11)

In [6]:
y.to_csv("C:/Users/david/Documents/0_kul/1_ma_stds_1/1_advanced_analytics/assignment_2/data/pizza/y.csv",index=False)

In [10]:
df.to_csv("C:/Users/david/Documents/0_kul/1_ma_stds_1/1_advanced_analytics/assignment_2/data/pizza/df.csv",index=False)