In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/david/Documents/0_kul/1_ma_stds_1/1_advanced_analytics/assignment_2/data/simple/recipe_without_empty.csv')

In [2]:
keep = ['tag_chocolate','tag_pizza','tag_lemon']

In [3]:
keep_2 = ['photo_id', 'url', 'may_be', 'likes', 'timestamp', 'scraped_at', 'diff'] + keep

In [4]:
df_recipe = df[keep_2]
df = df_recipe[(df_recipe.iloc[:,7:11].T != 0).any()] # keep only relevant pictures
df.head(10)

,photo_id,url,may_be,likes,timestamp,scraped_at,diff,tag_chocolate,tag_pizza,tag_lemon
4,CMPD73jJssJ,https://www.instagram.com/p/CMPD73jJssJ/,dessert,2,2021-03-10T10:45:12,2021-03-10T11:49:16,1.07,1,0,0
16,CMPDgtknaSS,https://www.instagram.com/p/CMPDgtknaSS/,cake and indoor,3,2021-03-10T10:41:29,2021-03-10T11:50:21,1.15,1,0,0
24,CMPDYtDhqVV,https://www.instagram.com/p/CMPDYtDhqVV/,dessert,22,2021-03-10T10:44:58,2021-03-10T11:50:58,1.10,0,1,0
59,CMPBhill_rI,https://www.instagram.com/p/CMPBhill_rI/,food and indoor,85,2021-03-10T10:24:07,2021-03-10T11:56:11,1.53,0,0,1
65,CMPBSqoFsEo,https://www.instagram.com/p/CMPBSqoFsEo/,dessert and indoor,8,2021-03-10T10:35:22,2021-03-10T11:56:44,1.36,0,0,1
89,CMPAm34lN6-,https://www.instagram.com/p/CMPAm34lN6-/,food,39,2021-03-10T10:44:46,2021-03-10T11:59:14,1.24,1,0,0
104,CMPAF7-gMkR,https://www.instagram.com/p/CMPAF7-gMkR/,pizza,11,2021-03-10T10:11:39,2021-03-10T12:01:03,1.82,0,1,0
112,CITkqwwpj8T,https://www.instagram.com/p/CITkqwwpj8T/,pizza,213,2020-12-02T20:02:07,2021-03-10T12:01:37,2343.99,0,1,0
122,CMO_4iGFPou,https://www.instagram.com/p/CMO_4iGFPou/,food,15,2021-03-10T10:20:45,2021-03-10T12:02:31,1.70,0,1,0
140,CMO_FZphFfd,https://www.instagram.com/p/CMO_FZphFfd/,food,9,2021-03-10T10:08:29,2021-03-10T12:04:43,1.94,1,0,0

In [5]:
y = df[keep]
y.head(5)

    tag_chocolate  tag_pizza  tag_lemon
4               1          0          0
16              1          0          0
24              0          1          0
59              0          0          1
65              0          0          1

In [6]:
y.iloc[0].sum()
list = []

In [7]:
for i in range(0,200):
    result = y.iloc[i].sum()
    list.append(result)

In [8]:
print(list)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [9]:
print(y.shape)
print(df.shape)

(843, 3)
(843, 10)

In [10]:
y.to_csv("C:/Users/david/Documents/0_kul/1_ma_stds_1/1_advanced_analytics/assignment_2/data/simple/y.csv",index=False)

In [11]:
df.to_csv("C:/Users/david/Documents/0_kul/1_ma_stds_1/1_advanced_analytics/assignment_2/data/simple/df.csv",index=False)