In [1]:
# Standard libraries

import pandas as pd
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier

import pickle

import warnings
warnings.filterwarnings("ignore")

# Functions

In [2]:
def get_file(file_path: str) -> pd.DataFrame:
    """
    Reads csv file in standardized format.

    :param file_path: str of file path
    :returns: df containing data
    """
    
    df = pd.read_csv(
            file_path,
            sep='|',
            encoding='utf-8',
            na_values='',
            low_memory=False,
            decimal=','
            )

    return df

In [3]:
### Reading file

keyword = os.getcwd().split('\\')[-1]
path = os.getcwd().replace(keyword,'Data\\preprocessing\\')+'data_preprocessed_test.csv'

df_total = get_file(path)

In [4]:
print(df_total.shape)
df_total.head()

(29955, 90)

,claim_id,woe_diff_days_claim_reg_ocu,diff_days_claim_reg_ocu,woe_claim_postal_code,woe_claim_postal_code_cat_medium_fraud,woe_claim_postal_code_cat_high_fraud,woe_claim_cause,claim_cause_cat_other,claim_cause_cat_remaining_cats,woe_claim_liable,...,policy_num_changes,woe_policy_num_claims,policy_num_claims,woe_policy_premium_100,policy_premium_100,woe_policy_coverage_1000,policy_coverage_1000,woe_policy_coverage_type,woe_policy_coverage_type_cat_medium_fraud,woe_policy_coverage_type_cat_high_fraud
0,65469,-0.3454,2,128.4157,0,0,62.2094,0,0,57.2768,...,2,6.8158,2,-32.6331,14.0,-137.0864,33.0,-85.8907,0,1
1,65470,-43.8974,3,128.4157,0,0,62.2094,0,0,57.2768,...,0,-16.0777,5,-28.9165,11.0,-54.2614,15.0,6.0638,1,0
2,65471,-43.8974,3,128.4157,0,0,62.2094,0,0,57.2768,...,1,7.644,0,-28.9165,11.0,46.8422,NaN,53.8127,1,0
3,65472,4.0181,5,-209.676,0,1,62.2094,0,0,57.2768,...,4,6.8158,2,7.186,9.0,-42.7684,17.0,-84.0841,0,1
4,65473,-43.8974,3,-69.9167,0,1,62.2094,0,0,57.2768,...,0,4.1633,3,-14.7273,7.0,46.8422,NaN,53.8127,1,0

In [5]:
df_total.dropna(axis=1, how='any', inplace=True)

In [ ]:
# print(df_total.shape)

In [ ]:
# df_total[df_total['claim_amount']==4895]

In [6]:
columns = df_total.columns[np.where(df_total.dtypes == 'object')]

df_total[columns] = df_total[columns].astype(float)

In [7]:
vars_model = [
  'woe_third_party_1_postal_code',
  'woe_claim_num_vehicles',
  'woe_claim_postal_code',
#   'woe_policy_holder_postal_code',
  'woe_driver_postal_code',
  'woe_claim_cause',
  'woe_age_driver',
  'woe_months_vehicle_regist',
  'woe_claim_vehicle_cyl',
  'woe_diff_days_claim_reg_ocu',
  'woe_claim_vehicle_load',
#   'claim_cause_cat_other',
#   'woe_age_policy_holder',
  'claim_num_third_parties',
  'woe_third_party_1_vehicle_type',
  'woe_years_policy_start',
  'woe_claim_vehicle_power',
  'woe_policy_coverage_1000',
#   'diff_days_claim_reg_ocu',
  'woe_policy_num_changes',
#   'woe_driver_postal_code_cat_medium_fraud',
#   'woe_claim_postal_code_cat_medium_fraud',
  'woe_years_policy_expiry',
  'woe_policy_coverage_type',
  'woe_policy_premium_100',
#   'policy_num_changes',
#   'woe_claim_num_third_parties',
  'woe_claim_police',
  'woe_claim_vehicle_brand',
  'woe_years_vehicle_regist'
]

In [8]:
len(vars_model)

22

In [ ]:
# corr_mat = x_data.corr()

# plt.figure(figsize=(10, 10))

# sns.heatmap(
#         corr_mat,
#         vmax=1,
#         vmin=-1,
#         square=False,
#         annot=True,
#         cmap="Blues" #PiYG
#         )

# plt.tight_layout()

# Load Model Pickle

In [9]:
keyword = os.getcwd().split('\\')[-1]
path = os.getcwd().replace(keyword,'Data\\model\\')
path

'C:\\Users\\Sonita\\Documents\\KU_Leuven\\Subjects\\2021-1\\Advance_Analytics\\Assignments\\Assignment_1\\Data\\model\\'

In [10]:
# load the model from disk
model_xgb = pickle.load(open(path+'claims_assign1.pkl', 'rb'))

In [11]:
model_xgb

RandomForestClassifier(max_depth=5, n_jobs=-1, random_state=123)

In [12]:
df_export = df_total[['claim_id']]

In [13]:
df_export['PROB'] = model_xgb.predict_proba(df_total[vars_model])[:, 1]

In [14]:
df_export.rename(columns={'claim_id':'ID'},inplace=True)

In [15]:
print(df_export.shape)
df_export.head()

(29955, 2)

      ID      PROB
0  65469  0.007598
1  65470  0.001056
2  65471  0.001085
3  65472  0.016059
4  65473  0.001583

In [16]:
keyword = os.getcwd().split('\\')[-1]
path = os.getcwd().replace(keyword,'Data\\output\\')
path

'C:\\Users\\Sonita\\Documents\\KU_Leuven\\Subjects\\2021-1\\Advance_Analytics\\Assignments\\Assignment_1\\Data\\output\\'

In [17]:
df_export.to_csv(path+'aa_group21.csv',sep=',',index=False)